

body{
  font-size: 14px;
  background-color:#EEEEEE;
  margin: 56px
}

input:focus{
  border-bottom:2px solid #EF8B17;
  outline: none;
}

button:focus{
  outline: none;
}

button:hover{
  cursor: pointer;
  opacity:0.5;
}


.todoPage{
  width: 500px;
  background-color: #ffffff;
  padding: 56px;
}

.pageTitle{
  text-align: center;
  font-size: 24px;
  padding-bottom: 48px;
}

.createForm {
}

.createForm_messageInput{
  font-size: 15px;
  /*  letter-spacing: 1px;*/
  width:397px;
  border: none;
  border-bottom: 2px solid #EDECED;
  padding-top: 8px;
  margin-right: 24px;
}

.createForm_createButton{
  font-size: 14px;
  font-weight: 600;
  width: 72px;
  height: 36px;
  text-decoration: none;
  color: #ffffff;
  background-color: #EF962F;
  border: none;
  border-radius: 6px;
  margin-bottom: 32px;
}

.createForm_createButton:hover{
  cursor: pointer;
  opacity:0.5;
}

.todoEditForm{
  padding: 24px 0;
}

.todoItem_status_wip{
  border:0px;
  width: 28px;
  height: 28px;
  background: url(wip.png);
  margin-right: 8px;
}

.todoItem_status_wip:hover{
  cursor: pointer;
}

.todoItem_status_done{
  border:0px;
  width: 28px;
  height: 28px;
  background: url(done.png);
  margin-right: 8px;
}

.todoItem_status_done:hover{
  cursor: pointer;
}

.todoId{
  font-size: 16px;
  margin-right: 12px;
}

.todoEditForm_messageInput{
  font-size: 15px;
  /*  letter-spacing: 1px;*/
  width:317px;
  border: none;
  border-bottom: 2px solid #EDECED;
  padding-top: 8px;
  margin-right: 28px;
}

.todoEditForm_saveButton{
  font-size: 14px;
  width: 60px;
  height: 28px;
  text-decoration: none;
  color: #ffffff;
  background-color: #EF962F;
  border: none;
  border-radius: 6px;
}

.todoEditForm_saveButton:hover{
  cursor: pointer;
  opacity:0.5;
}

.todoItem{
  padding: 24px 0;
}

.todoItem_message{
  font-size: 16px;
  display: inline-block;
  width:320px;
  margin-right: 28px;
}

.todoItem_editButton{
  font-size: 14px;
  width: 60px;
  height: 28px;
  text-decoration: none;
  color: #EF8B17;
  border: solid 2px #EF8B17;
  border-radius: 6px;
}

.todoItem_editButton:hover{
  cursor: pointer;
  opacity:0.5;
}




















